/** @format */

.about-bg {
  --s: 140px; /* control the size */
  --c1: #2c7c6b;
  --c2: #ffd240;

  --_g: #0000 25%, #0008 47%, var(--c1) 53% 147%, var(--c2) 153% 247%,
    var(--c1) 253% 347%, var(--c2) 353% 447%, var(--c1) 453% 547%, #0008 553%,
    #0000 575%;
  --_s: calc(25% / 3) calc(25% / 4) at 50%;
  background: radial-gradient(var(--_s) 100%, var(--_g)),
    radial-gradient(var(--_s) 100%, var(--_g)) calc(var(--s) / 2)
      calc(3 * var(--s) / 4),
    radial-gradient(var(--_s) 0, var(--_g)) calc(var(--s) / 2) 0,
    radial-gradient(var(--_s) 0, var(--_g)) 0 calc(3 * var(--s) / 4),
    repeating-linear-gradient(
      90deg,
      #accec0 calc(25% / -6) calc(25% / 6),
      #61a6ab 0 calc(25% / 2)
    );
  background-size: var(--s) calc(3 * var(--s) / 2);
  animation: m 2.5s infinite linear;
}

@keyframes m {
  to {
    background-position: var(--s) 0, calc(var(--s) / -2) calc(3 * var(--s) / 4),
      calc(3 * var(--s) / 2) 0, calc(-1 * var(--s)) calc(3 * var(--s) / 4), 0 0;
  }
}


.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80%;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}
.wave span {
  content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.content {
  position: relative;
  z-index: 1;
  font-size: 4em;
  letter-spacing: 2px;
  color: #fff;
}
.wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.705);
  animation: animate 5s linear infinite;
}

.wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.342);
  animation: animate 10s linear infinite;
}
.wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
